body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
:root {
  --cy-color-mint: #5FCECf;
  --cy-color-red: #D95A65;
  --cy-color-yellow: #F6B13C;
  --cy-color-green: #46C083;
  --cy-color-blue: #00ADD4;
}
.cy-color-mint   { color: var( --cy-color-mint ); }
.cy-color-red    { color: var( --cy-color-red ); }
.cy-color-yellow { color: var( --cy-color-yellow ); }
.cy-color-green  { color: var( --cy-color-green ); }
.cy-color-blue   { color: var( --cy-color-blue ); }
.cy-bg-color-mint   { color: #fff; background-color: var( --cy-color-mint ); }
.cy-bg-color-red    { color: #fff; background-color: var( --cy-color-red ); }
.cy-bg-color-yellow { color: #fff; background-color: var( --cy-color-yellow ); }
.cy-bg-color-green  { color: #fff; background-color: var( --cy-color-green ); }
.cy-bg-color-blue   { color: #fff; background-color: var( --cy-color-blue ); }

.w30 { width:30%;}
.w100 { width:100%;}
.clearfix { overflow: auto; }

.card-params button {margin-bottom: 2px;}

#mySidebar input[type=text]{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#menuSetting .w3-card:hover {cursor: pointer;}
/* #menuSetting .w3-card:hover {cursor: pointer;background-color: #f1f1f1;}
#menuSetting .w3-card:hover.not(.w3-hover-opacity-off) */
#menuSetting .w3-card i.fa-angle-right {color: #7b818d; padding-left: 8px;}

/* #menuSetting .w3-ul .li-header {background-color:#f4f5f9;color:#7b818d;}
#menuSetting .w3-ul {border: 1px solid #eee;}
#menuSetting .w3-ul li {border-bottom: 1px solid #eee;}
#menuSetting .w3-ul li:last-child {border-bottom: none;}
#menuSetting .w3-ul button {padding:0px;}
#menuSetting .w3-ul label {padding-left:24px;cursor:pointer;}
#menuSetting .w3-ul li:hover {cursor: pointer;background-color: #f1f1f1;}
#menuSetting .w3-ul i.fa-angle-right {color: #7b818d; padding-left: 8px;} */
