body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
:root {
  --cy-color-mint: #5FCECf;
  --cy-color-red: #D95A65;
  --cy-color-yellow: #F6B13C;
  --cy-color-green: #46C083;
  --cy-color-blue: #00ADD4;
}
.cy-color-mint   { color: var( --cy-color-mint ); }
.cy-color-red    { color: var( --cy-color-red ); }
.cy-color-yellow { color: var( --cy-color-yellow ); }
.cy-color-green  { color: var( --cy-color-green ); }
.cy-color-blue   { color: var( --cy-color-blue ); }
.cy-bg-color-mint   { color: #fff; background-color: var( --cy-color-mint ); }
.cy-bg-color-red    { color: #fff; background-color: var( --cy-color-red ); }
.cy-bg-color-yellow { color: #fff; background-color: var( --cy-color-yellow ); }
.cy-bg-color-green  { color: #fff; background-color: var( --cy-color-green ); }
.cy-bg-color-blue   { color: #fff; background-color: var( --cy-color-blue ); }

.w30 { width:30%;}
.w100 { width:100%;}
.pr-0 {padding-right: 0px;}
.clearfix { overflow: auto; }

.card-params button {margin-bottom: 2px;}

#mySidebar input[type=text]{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ecf0f1;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
