<style type="text/css">
  /* Extra small devices (portrait phones, 576px 미만) - xs */
  /* @media (max-width: 575px) {
    .card-columns {
      column-count: 1;
    }
  } */
  /* Small devices (landscape phones, 576px 이상) - sm */
  /* @media (min-width: 576px) and (max-width: 767px) {
    .card-columns {
      column-count: 3;
    }
  } */
  /* Medium devices (tablets, 768px 이상) - md */
  /* @media (min-width: 768px) {
    .card-columns {
      column-count: 4;
    }
  } */
</style>
<script>

</script>

<!-- // Extra small devices (portrait phones, 576px 미만) - xs
    @media (max-width: 575px) { ... }

    // Small devices (landscape phones, 576px 이상) - sm
    @media (min-width: 576px) and (max-width: 767px) { ... }

    // Medium devices (tablets, 768px 이상) - md
    @media (min-width: 768px) and (max-width: 991px) { ... }

    // Large devices (desktops, 992px 이상) - lg
    @media (min-width: 992px) and (max-width: 1199px) { ... }

    // Extra large devices (large desktops, 1200px 이상)  - xl
    @media (min-width: 1200px) { ... } -->
<!-- 공통 코드 -->
<!-- <base href="/link-manager.pwa/links" /> -->
<div ng-include="'/link-manager.pwa/include/navigation.html'"/></div>
<div class="container-fluid pt-3">
<!-- 공통 코드 -->
  <div class="card-columns" ng-init="getLinkCardList()">
    <!-- <div class="card bg-light shadow-sm">
      <div class="card-header"><span name="category">관리시스템</span></div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-light">

            <p class="card-text"><span name="label">스마트MOS 관리시스템</span></p>
            <div class="btn-group w-100" role="group" aria-label="aria_target">
              <button type="button" class="btn btn-success" onclick="window.open('www.naver.com', '_blank');">
                <div class="d-none d-sm-block d-md-none">L</div>
                <div class="d-sm-none d-md-block">Local</div>
              </button>
              <button type="button" class="btn btn-primary">
                <div class="d-none d-sm-block d-md-none">Q</div>
                <div class="d-sm-none d-md-block">QA</div>
              </button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                운영
              </button>
              <div class="dropdown-menu dropdown-menu-sm-right">
                <a class="dropdown-item" href="#">WAS1</a>
                <a class="dropdown-item" href="#">WAS2</a>
                <a class="dropdown-item" href="#">WAS3</a>
                <a class="dropdown-item" href="#">WAS4</a>
              </div>
            </div>
          </li>
          <li class="list-group-item bg-light">
            <p class="card-text">연말정산연말정산연말정산연말정산연말정산연말정산연말정산연말정산</p>
            <div class="btn-group w-100" role="group" aria-label="aria_target">
              <button type="button" class="btn btn-success">
                <div class="d-none d-sm-block d-md-none">L</div>
                <div class="d-sm-none d-md-block">Local</div>
              </button>
              <button type="button" class="btn btn-primary">
                <div class="d-none d-sm-block d-md-none">Q</div>
                <div class="d-sm-none d-md-block">QA</div>
              </button>
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                운영
              </button>
              <div class="dropdown-menu dropdown-menu-sm-right">
                <a class="dropdown-item" href="#">WAS1</a>
                <a class="dropdown-item" href="#">WAS2</a>
                <a class="dropdown-item" href="#">WAS3</a>
                <a class="dropdown-item" href="#">WAS4</a>
              </div>
              </div>
          </li>
        </ul>
      </div>
      <div class="card bg-light shadow-sm">
        <div class="card-header">연말정산</div>
       <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light">
          <p class="card-text">수수료명세서</p>
          <div class="btn-group w-100" role="group" aria-label="aria_target">
            <button type="button" class="btn btn-success">
              <div class="d-none d-sm-block d-md-none">L</div>
              <div class="d-sm-none d-md-block">Local</div>
            </button>
            <button type="button" class="btn btn-primary">
              <div class="d-none d-sm-block d-md-none">Q</div>
              <div class="d-sm-none d-md-block">QA</div>
            </button>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              운영
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right">
              <a class="dropdown-item" href="#">WAS1</a>
              <a class="dropdown-item" href="#">WAS2</a>
              <a class="dropdown-item" href="#">WAS3</a>
              <a class="dropdown-item" href="#">WAS4</a>
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div> -->
  </div>
  <div class="fixed-bottom">
    <button type="button" class="btn btn-dark rounded-circle float-right m-3 shadow-sm"
            data-toggle="modal" data-target="#addLinkModal">
      <i class="material-icons m-0" style="font-size:32px;">add</i>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <form ng-controller="linkCardCtrl" ng-submit="insertLinkCard()">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Link Card 등록</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="category">Category Title</label>
              <input type="text" class="form-control" id="category" ng-model="category" placeholder="Category Title 입력">
            </div>
            <div class="form-group">
              <label for="label">설명</label>
              <input type="text" class="form-control" id="label" ng-model="label" placeholder="설명 입력">
            </div>
            <div class="form-group">
              <label for="server">server</label>
              <select class="form-control" ng-model="selectServer" ng-options="x for (x, y) in hostList">
              </select>
              <!-- <select class="form-control" id="server" ng-model="server">
                <option>smosmgr20</option>
                <option>smos20</option>
                <option>card_mgr</option>
              </select> -->
            </div>
            <div class="form-group">
              <label for="pathname">pathname</label>
              <input type="text" class="form-control" id="pathname" ng-model="pathname" placeholder="/abc/abc.do">
            </div>
            <div class="form-group">
              <label for="search">search</label>
              <input type="text" class="form-control" id="search" ng-model="search" placeholder="?param1=a&param2=b">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">등록</button>
        </div>
      </div>
    </div>
  </form>
</div>

<template>
  <div class="card bg-light shadow-sm">
    <div class="card-seq" hidden></div>
    <div class="card-header clearfix">
      <span class="card-header-text">card-header</span>
      <div class="btn-group float-right">
        <button type="button" class="btn btn-xs p-0"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons p-0" style="font-size:24px; color:gray;">more_vert</i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="javascript:alert('수정');">수정</a>
          <a class="dropdown-item" href="javascript:confirm('삭제하시겠습니까?');">삭제</a>
          <!-- <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </div>
      <!-- <button class="float-right"><i class="material-icons">more_vert</i></button> -->
    </div>
    <div class="card-body-li">
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light sub-template" hidden>
          <div class="card-sub-seq" hidden></div>
          <div class="card-last-updated" hidden></div>
          <p class="card-text">card-label</p>
          <div class="btn-group w-100" role="group" aria-label="aria_target">
            <button type="button" class="btn btn-success btn-cstm-link" data-type='L'>
              <div class="d-none d-sm-block d-md-none">L</div>
              <div class="d-sm-none d-md-block">Local</div>
            </button>
            <button type="button" class="btn btn-primary btn-cstm-link" data-type='Q'>
              <div class="d-none d-sm-block d-md-none">Q</div>
              <div class="d-sm-none d-md-block">QA</div>
            </button>
            <button type="button" class="btn btn-danger btn-cstm-link" data-type='O'>
              <div class="d-none d-sm-block d-md-none">O</div>
              <div class="d-sm-none d-md-block">운영</div>
            </button>
            <div class="btn-group">
              <button type="button" class="btn btn-danger btn-cstm-link dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <!-- <a class="dropdown-item btn-cstm-link" href="#">WAS1</a>
                <a class="dropdown-item btn-cstm-link" href="#">WAS2</a>
                <a class="dropdown-item btn-cstm-link" href="#">WAS3</a>
                <a class="dropdown-item btn-cstm-link" href="#">WAS4</a> -->
              </div>
            </div>
            <!-- <button type="button" class="btn btn-danger dropdown-toggle"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-type='O'>
              운영
            </button>
            <div class="dropdown-menu dropdown-menu-sm-right">
              <a class="dropdown-item" href="#">WAS1</a>
              <a class="dropdown-item" href="#">WAS2</a>
              <a class="dropdown-item" href="#">WAS3</a>
              <a class="dropdown-item" href="#">WAS4</a>
            </div> -->
          </div>
        </li>
      </ul>
    </div>
    <div class="card-footer clearfix">
      <span class="badge badge-pill badge-secondary float-left">smosmgr20</span>
      <small class="text-mute last-updated-dt float-right">Last updated 3 mins ago</small>
    </div>
  </div>
</template>
