<style type="text/css">
</style>
<script>
</script>
<!-- 공통 코드 -->
<div ng-include="'/link-manager.pwa/include/navigation.html'"/></div>
<div class="container-fluid pt-3">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action">Cras justo odio</button>
    <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
    <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
    <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
    <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
  </div>
</div>
