<style type="text/css">
</style>
<script>
  $("#settingAccordion .list-group-item").click(function(){
    var status = $(this).find("[name='accordion-icon']").text();
    $("#settingAccordion .list-group-item [name='accordion-icon']").text("expand_more");
    var type = "expand_less";
    if (status == type){
      type = "expand_more";
    }
    $(this).find("[name='accordion-icon']").text(type);
  });
</script>
<!-- 공통 코드 -->
<div ng-include="'/link-manager.pwa/include/navigation.html'"/></div>
<div class="container-fluid pt-3">
  <ul class="list-group accordion" id="settingAccordion">
    <button type="button" class="list-group-item list-group-item-action bg-light">
      <div>버전 정보</div>
      <small class="text-primary">{{appVer.verName}} ({{appVer.verCode}})</small>
    </button>
    <button type="button" class="list-group-item list-group-item-action bg-light" id="heading_1"
      data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
      <div class="d-flex w-100 justify-content-between">
        <div>서버 정보</div>
        <i class="material-icons" name="accordion-icon">expand_more</i>
      </div>
    </button>
    <li class="list-group-item collapse" id="collapse_1"
      aria-labelledby="heading_1" data-parent="#settingAccordion">
      <form id="formServer">
        <div class="form-group row">
          <label for="selectServer" class="col-sm-2 col-form-label">server</label>
          <div class="col-sm-10">
            <select class="custom-select mr-sm-2" ng-model="selectServer" ng-options="x for (x, y) in hostList">
            </select>
          </div>
        </div>
        <div class="form-group row">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">type</th>
                <th scope="col">name</th>
                <th scope="col">origin</th>
                <th scope="col">pathname</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="server in selectServer">
                <th scope="row">{{server.type}}</th>
                <td>{{server.name}}</td>
                <td>{{server.origin}}</td>
                <td>{{server.pathname}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </li>
    <button type="button" class="list-group-item list-group-item-action bg-light" id="heading_2"
      data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" aria-controls="collapse_2">
      <div class="d-flex w-100 justify-content-between">
        <div>도움말</div>
        <i class="material-icons" name="accordion-icon">expand_more</i>
      </div>
    </button>
    <li class="list-group-item list-group-item-action collapse" id="collapse_2"
      aria-labelledby="heading_2" data-parent="#settingAccordion">
      도움말1
    </li>
  </ul>
<!--
  <div class="d-flex p-2"></div>

  <div class="list-group accordion" id="settingAccordion3">
    <button type="button" class="list-group-item list-group-item-action list-group-item-light">
      <div>버전 정보</div>
      <small class="text-primary">{{appVer.verName}} ({{appVer.verCode}})</small>
    </button>
    <button type="button" class="list-group-item list-group-item-action list-group-item-light">
      <div class="d-flex w-100 justify-content-between">
        <div>서버 정보</div>
        <small><i class="material-icons">expand_more</i></small>
    </button>
    <button type="button" class="list-group-item list-group-item-action list-group-item-light">도움말</button>
  </div>
  <div class="d-flex p-2"></div>
  <ul class="list-group accordion" id="settingAccordion2"">
    <button type="button" class="list-group-item list-group-item-action" id="headingOne"
      data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
      <div class="d-flex w-100 justify-content-between">
        <div>서버 정보</div>
        <small><i class="material-icons">expand_more</i></small>
    </button>
    <li class="list-group-item list-group-item-action list-group-item-secondary collapse" id="collapseOne"
      aria-labelledby="headingOne" data-parent="#settingAccordion2">
      Dapibus ac facilisis in settingAccordion2settingAccordion2settingAccordion2
    </li>

    <button type="button" class="list-group-item list-group-item-action" id="heading2"
      data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
      <div class="d-flex w-100 justify-content-between">
        <div>서버 정보2</div>
        <small><i class="material-icons">expand_more</i></small>
    </button>
    <li class="list-group-item list-group-item-action list-group-item-secondary collapse" id="collapse2"
      aria-labelledby="heading2" data-parent="#settingAccordion2">
      A simple primary list group item
    </li>
  </ul>
  <div class="d-flex p-2"></div>
  <ul class="list-group">
    <li class="list-group-item list-group-item-action">Dapibus ac facilisis in</li>
    <li class="list-group-item list-group-item-action list-group-item-primary">A simple primary list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-secondary">A simple secondary list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-success">A simple success list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-danger">A simple danger list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-warning">A simple warning list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-info">A simple info list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-light">A simple light list group item</li>
    <li class="list-group-item list-group-item-action list-group-item-dark">A simple dark list group item</li>
  </ul>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">
      <div class="d-flex w-100 justify-content-between">
      </div>
      <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      <small>Donec id elit non mi porta.</small>
    </a>
  </div> -->
</div>
